@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
:root {
  --blue: #070663;
  --dark-blue: #080738;
  --brown: #d6b695;
  --dark-brown: #ab865e;
  --white: #fff;
}

/*****************BASE ***************************/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
html {
  font-family: "Inria Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  letter-spacing: 2px;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style: none;
  font-family: "Fira Sans", sans-serif;
  padding: 0 1.3rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--lightGray);
}
li:nth-child(1) {
  padding: 0;
}
li:last-child {
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}
img {
  width: 100%;
  display: block;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/**********NAVIGATION********************/

nav {
  display: flex;
  /* background: var(--dark-blue); */
  background-color: #162238;
  color: var(--white);
  padding: 1rem 6rem 0.5rem;
  position: fixed;
  width: 100%;
  /* top: 3.3rem; */
  left: 0;
  right: 0;
  z-index: 100;
}
.main-nav {
  transition: 0.3s ease;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  ) !important;
}

nav > * {
  flex-basis: 100%;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list a {
  color: var(--white);
  font-weight: 400;
  font-size: 1.3rem;
  /* margin: 0 0.5rem; */
}
.logo {
  color: var(--white);
  /* font-size: 3.7rem; */
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icons {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-icons img {
  width: 3rem;
  margin: 0 1rem;
}
input:focus ~ label {
  /* bottom: 1.6em; */
  bottom: 3rem;

  transform: scale(0.75);
  transform-origin: left;
}
.signup-wrap input {
  color: #fff;
}
.form-wrap input:focus,
textarea:focus {
  border: 2px solid var(--blue);
  /* padding: 1.3rem 1.6rem;
  font-size: 1.6rem; */
  outline: none;
}
.form-wrap input {
  /* transition: 0.1s ease; */
  color: #070663;
}
.no-outline:focus {
  outline: none;
}

.mobile-menu {
  display: none;
}
@media (max-width: 1036px) {
  nav {
    padding: 1rem 3rem !important;
  }
  .nav-icons img {
    width: 2.3rem;
    margin: 0 1rem;
  }
  .logo a {
    font-size: 4rem;
  }
  .nav-list a {
    font-size: 1.2rem;
  }
  .nav-list li {
    padding: 0.5rem;
  }
}
@media (min-width: 1037px) {
  .logo a {
    font-size: 4.1rem;
  }
}
@media (max-width: 912px) {
  nav {
    padding: 1rem 2rem !important;
  }
  /* .nav-icons {
    display: none;
  } */
  .nav-icons img {
    width: 1.8rem;
    margin: 0 1rem;
  }
  .logo > a {
    font-size: 2.3rem;
  }
  /* .nav-list {
      display: none;
    } */

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 8rem;
    left: 0;
    background-color: var(--dark-blue);
    width: 100vw;
    height: 50vh;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  .nav-list.visible {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1rem;
  }
  .mobile-menu img {
    width: 2rem;
  }
  nav {
    padding: 1rem 2.4rem;
  }
}
@media (max-width: 712px) {
  .logo a {
    font-size: 2rem;
  }
  .nav-icons img:nth-child(2) {
    display: none !important;
  }
}
@media (max-width: 540px) {
  nav {
    padding: 1rem 1em !important;
  }
}

/* **************CONTACT PAGE************************** */
.contact-wrapper {
  /* height: 100vh; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 14rem;
  padding: 3rem 7rem;
}

.contact-text {
  display: flex;
  flex-direction: row;
}

.contact-header h1 {
  font-size: 4rem;
  color: var(--blue);
}
.contact-header h3 {
  font-size: 1.5rem;
  color: var(--blue);
}
form {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}
form > * {
  padding: 0.4rem 1rem;
  margin: 1rem 0;
}
::placeholder {
  color: var(--blue);
  opacity: 1; /* Firefox */
  font-size: 1.4rem;
}
textarea {
  resize: none;
}
.contact-header h1 {
  font-size: 4rem;
}
.retail a {
  color: var(--blue);
  text-decoration: underline;
}
.places-desktop {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: var(--blue);
}

.form-wrap input,
textarea {
  border: 1px solid var(--blue);
  padding: 1.3rem 1.6rem;
  font-size: 1.6rem;
}
.contact-image > .places {
  display: none;
}
.contact-image {
  /* height: 80%; */
  width: 40%;
}
.column1 h4,
.column2 h4,
.column3 h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.main-nav.active {
  /* background: var(--dark-blue) !important; */
  background-color: #162238 !important;
  /* opacity: 0.95;
  padding: 0.5rem;
  align-items: center;
  height: 12vh;
  z-index: 5000; */
}

@media (max-width: 912px) {
  .places-desktop {
    display: none;
  }
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-image {
    /* height: 80%; */
    width: 100%;
  }
  .contact-image .places {
    display: block;
  }
  .contact-image .places > * {
    font-size: larger;
    padding: 3rem;
    color: var(--blue);
  }
  .contact-image-wrapper {
    /* height: 80%; */
    width: 50%;
    justify-content: flex-end;
  }
}
/* **************ABOUT PAGE************************ */
.about-header {
  position: relative;
}
.about-header h2 {
  padding: 7rem;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 6rem;
  color: #070663;
}
.about-wrapper {
  background: #d6b695;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
}
.about-text h1 {
  font-size: 4rem;
  color: #070663;
}
.about-text .text {
  font-size: 2rem;
  color: #070663;
  width: 60%;
  line-height: 1.8;
  font-weight: bold;
}
.about-text button {
  background-color: #d1a473;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem 4rem;
  padding: 1rem 2rem;
}
.about-image {
  display: flex;
  align-items: center;
  height: 80vh;
  position: relative;
}
.image-container {
  width: 30rem;
}
.image-1 {
  position: absolute;
  left: -15rem;
  bottom: 5rem;
}
.about-mobile {
  display: none;
}

.location {
  text-align: center;
  font-size: 4rem;
  color: #070663;
}
.location-wrapper {
  padding: 2rem 7rem;
  display: flex;
  justify-content: space-between;
}
.location-wrapper .image-wrap {
  max-width: 70%;
}
.location1,
.location2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.location-wrapper .text-wrap {
  margin-top: 2rem;
  text-align: left !important;
  font-size: 1.5rem;
}
@media (max-width: 912px) {
  .about-desktop {
    display: none;
  }

  .about-mobile {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
  }
  .upper-wrap,
  .lower-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text h1 {
    font-size: 3rem;
    color: #070663;
  }
  .about-mobile,
  p {
    font-size: 1.5rem;
    color: #070663;
  }
  .lower-wrap .image-wrap {
    margin-top: -5rem;
  }
  .upper-wrap .image-wrap {
    margin-bottom: -5rem;
  }

  .about-header h2 {
    padding: 3rem;
    font-size: 4rem;
  }
  .about-mobile button {
    background-color: #d1a473;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 4rem;
    padding: 1rem 2rem;
    color: #070663;
    font-weight: 700;
  }
  .location {
    font-size: 3rem;
  }
  /* .location-desktop {
    display: none;
  } */
  .location-wrapper {
    padding: 2rem;
  }
  .location1 {
    display: flex;
    flex-direction: column-reverse;
  }
  /* .location2 {
    display: flex;
    flex-direction: column-reverse;
  } */
  .location-mobile {
  }
}
@media (max-width: 512px) {
  .about-header h2 {
    padding: 0rem;
    font-size: 3rem;
  }
}

/*  */

.promo {
  /* display: none; */
  font-size: 1rem;
  height: 3.5rem;
  letter-spacing: 1px;
  padding: 1rem 0;
  background: var(--brown);
  color: var(--blue);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

/***
***Header 
***/
header {
  /* height: 150vh; */
}
nav {
  padding: 2rem 6rem;
  position: fixed;
  width: 100%;
  top: 3.3rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
nav > * {
  flex-basis: 100%;
}
nav .nav__list {
  display: flex;
  justify-content: start;
  align-items: center;
}
nav .nav__list a {
  color: var(--white);
  font-weight: 400;
  font-size: 1.5rem;

  margin: 0 1rem;
}
nav .logo > a {
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
/* .logo a {
  font-size: 4rem;
} */
nav .nav__icons {
  display: flex;
  justify-content: end;
  align-items: center;
}
nav .nav__icons img {
  width: 3rem;
  margin: 0 1rem;
}
header .hero {
  z-index: 1;
  position: relative;
  margin-top: 3rem;
  width: 100%;
}
header .hero-desktop img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-text-container {
  position: absolute;
  /* background-color: rebeccapurple; */
  width: 100%;
}
.hero-text {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5rem;
  padding-top: 30rem;

  /* height: 50vh; */
  width: 100%;
  color: var(--white) !important;
}
.hero-text h1 {
  font-size: 5rem;
  color: var(--white) !important;
}
.hero-text button {
  font-size: 2.5rem;
  text-transform: uppercase;
  border: 2px solid var(--white);
  padding: 0 4rem;
  border-radius: 5px;
}

.buttons {
  color: var(--white);
  padding: 7rem;
  z-index: 3;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttons .discount,
.help {
  height: 4rem;
  width: 9rem;
  background-color: var(--dark-brown);
  font-size: 1.5rem;
  border-radius: 2rem;
}
.discount {
  width: 15rem !important;
}
.help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
}
.help img {
  width: 2rem;
}

/* **
***Main
** */
/* Sections */

/* .the-met {
  z-index: 3;
  margin-top: -50vh;

  position: relative;
  width: 100%;
  text-align: center;
}
.the-met h1 {
  color: var(--dark-brown);
  font-size: 38rem;
  text-transform: uppercase;
} */

section.men-women {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7rem;
  /* height: 100vh; */
  /* width: 100%; */
}
.men-women img {
  width: 100%;
}
.men-women button {
  position: absolute;
  text-transform: uppercase;
  padding: 1rem 3rem;
  background: var(--brown);
  color: var(--blue);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2rem;
  /* width: 90%; */
}
.men,
.women {
  padding: 3rem;
}
.men button {
  margin-top: 35%;
  margin-left: 3%;
}
.women button {
  margin-top: 35%;
  margin-left: 20%;
}

@media (max-width: 580px) {
  .men-women button {
    font-size: 1.5rem;
    padding: 0.6rem 1.6rem;

    /* width: 90%; */
  }
  .women button {
    margin-top: 50%;
    margin-left: 2%;
  }
  .men button {
    margin-top: 55%;
    margin-left: 20%;
  }
}

/*New Arrivals*/

.new-arrivals {
  padding: 0 6rem;
}
.new-arrivals h1 {
  font-size: 4rem;
  color: var(--blue);
}
.product-slider {
  display: flex;
  width: 100%;
}
.product-container {
  justify-content: space-around;
  width: 25%;
  padding: 1rem;
  /* max-width: 20%; */
  /* max-height: 0%; */
}
.product-info {
  color: var(--blue);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
}
.product-name {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.product-price {
  font-size: 1.2rem;
}
/***  
Shop Page
***/
.secondary-links {
  background-color: var(--white);
  margin-top: 13.5rem;
  padding: 1rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.secondary-links a {
  color: blue;
  text-transform: uppercase;
}
h3 {
  color: #070663;
}
.shop-section h3 {
  font-size: 1.5rem;
  padding: 2rem 7rem;
}
.load-more {
  background-color: #d6b695;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.load-more button {
  background-color: #070663;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  border-radius: 4px;
}
.new-arrivals {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-wrapper {
  /* background-color: blue; */
  width: 20vw;
  padding-bottom: 1.5rem;
}
.product-image {
  max-width: 100%;
  /* height: 100%; */
}
.logo {
  justify-content: center !important;
}
.nav-items {
  display: flex;
  justify-content: flex-end;
}
.heading-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(7, 6, 99, 0.8);
  color: white;
  padding: 0 7rem;
}
.heading-wrap img {
  width: 3rem;
  margin: 0 1rem;
}
.heading h1 {
  font-size: 3.5rem;
}
.heading,
.input-wrap {
  display: flex;
  align-items: center;
}
.input-wrap {
  display: flex;
  position: relative;
}
.input-wrap input {
  padding: 0.3em 0;
  margin-top: 0.6em;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  background: transparent;
}
.input-wrap > ::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  font-size: 1rem;
  padding: 0 1rem;
  letter-spacing: 1px;
}
.product-name,
.product-price {
  color: #070663;
}
@media (max-width: 912px) {
  .heading-wrap {
    margin-top: 13.5rem;
    padding: 0 2rem;
  }
  .heading-wrap h1 {
    font-size: 3rem;
  }
  .secondary-links {
    display: none;
  }
  .new-arrivals {
    padding: 2rem;
  }
  .product-wrapper {
    width: 45%;
  }
}
@media (max-width: 512px) {
  .heading-wrap {
    margin-top: 20rem;
    padding: 1rem;
  }
  .heading-wrap img {
    width: 2rem;
  }
  .heading-wrap h1 {
    font-size: 2rem;
  }
  .input-wrap {
    display: none;
  }
}
@media (max-width: 400px) {
  .product-wrapper {
    width: 100%;
  }
}

/***
Hoodie & sweatshirts 
 ***/
/* .hoodie-sweatshirts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 7rem;
}

.hoodie-sweatshirts .image {
  width: 60vw;
}
.hoodie-sweatshirts .text {
  text-align: center;
  background-color: red;
  width: 70rem;
}
.hoodie-sweatshirts .description {
  padding: 4rem 0;
  color: var(--blue);
  letter-spacing: 2px;
  font-size: 2.5rem;
  text-align: center;
  background-color: red;
} */

/* ********FOOTER**************** */

footer {
  /* padding: 9rem 7rem 0; */
  height: 100vh;
  width: 100%;
  /* background: var(--dark-blue); */
  background-color: #23395e;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer h1 {
  font-size: 4rem;
}
footer h3 {
  font-size: 2rem;
  max-width: 75%;
  color: var(--white);
}
.top-line {
  margin-top: 7rem;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
  flex-basis: 100%;
}
.footer-header {
  padding-bottom: 2rem;
}
.signup-wrap {
  position: relative;
  display: flex;
}
.signup-wrap input {
  padding: 0.3em 0;
  margin-top: 0.6em;
  width: 50%;
  outline: none;
  border: none;
  border-bottom: 1.5px solid var(--white);
  background: transparent;
  margin: 0 2rem 0 0;
}
.signup-wrap label {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  /* transition-property: all;
  transition-duration: 0.5s;
  pointer-events: none; */
  font-weight: lighter;
  font-size: 1.2rem;
  letter-spacing: 1px;
  opacity: 0.5;
  text-replace: auto;
  transition-duration: 0.5s;
}
@media (min-width: 1000px) {
  .signup-wrap label {
    /* bottom: 3rem; */
    transition: 0.6s ease;
  }
}
@media (max-width: 700px) {
  input:focus ~ label {
    /* bottom: 1.6em; */
    top: -3rem;
    /* color: dodgerblue; */
    transform: scale(0.75);
    transform-origin: left;
  }
}
.signup-wrap button {
  border: 1px solid var(--white);
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem 3rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-basis: 30%;
}
.footer-links a {
  opacity: 0.5;
  font-weight: 300;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
@media (min-width: 912px) {
  .mobile {
    display: none;
  }
}
.column1,
.column2,
.column3 {
  display: flex;
  flex-direction: column;
}
.footer-bottom-text {
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;
  letter-spacing: 1px;
}
.copyright {
  font-size: 1.4rem;
}
.terms-privacy > * {
  padding: 0 1rem;
  font-size: 1.3rem;
}

/* Mobile */

@media (max-width: 912px) {
  /* footer {
    display: none;
  } */
  .footer-wrap {
    padding: 0 4rem;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .footer-links {
    padding: 4rem;
  }

  .signup-wrap {
    flex-direction: column;
  }
  .signup-wrap input {
    width: 100%;
  }
  .signup-wrap button {
    margin-top: 2rem;
  }
  .signup-wrap label {
    position: absolute;
    top: 5%;
  }
  .footer-bottom-text {
    padding: 0;
  }
  .desktop {
    display: none;
  }
  .top-line {
    display: none;
  }

  .footer-bottom-text {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "b c"
      "a a";
  }

  .copyright {
    text-align: center;
    font-size: 1rem;
    grid-area: a;
  }
  .terms-privacy {
    width: 100vw;
    text-align: center;
    margin-top: 1rem;
  }
  .terms {
    text-align: center;
    grid-area: b;
  }
  .privacy {
    text-align: center;
    grid-area: c;
  }
}
/* ******HOMEPAGE********* */

.homepage-header {
  position: relative;
  padding: 0;
}
.homepage-header h1 {
  /* padding: 7rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: var(--white);
  text-align: center;
  width: 100%;
}
.the-met {
  z-index: 3;
  /* margin-top: -0vh; */

  position: relative;
  width: 100%;
  text-align: center;
}
.the-met h1 {
  color: var(--dark-brown);
  font-size: 30rem;
  line-height: 0;
  text-transform: uppercase;
}
.men-women {
  margin-top: 8rem;
}

.product-image {
  background-color: green;
  height: 400px;
  width: 100%;
}
.product-image img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: cover;
}
.produc .product-container {
  padding: 1rem;
}
.hoodie-sweatshirts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.hoodie-sweatshirts .text {
  text-align: center;
  color: var(--blue);

  /* width: 70rem; */
  margin-left: -12rem;
}
.hoodie-sweatshirts .image {
  margin-right: -12rem;
}
.text h1 {
  font-size: 4rem;
}
.text {
  align-items: center;
}
.text .description {
  padding-top: 2rem;
  font-size: 2rem;
  width: 60%;
  align-self: center;
  margin: 0 auto;
}
@media (max-width: 912px) {
  .text .description {
    width: 100%;
    padding-top: 0.6rem;
  }
}
.collections {
  position: relative;
  padding: 2rem 7rem;
}
.collection img {
  width: 100%;
}
.collection button {
  position: absolute;
  text-transform: uppercase;
  padding: 1rem 3rem;
  background: var(--brown);
  color: var(--blue);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2rem;
  bottom: 20rem;
  left: 15rem;
  /* width: 90%; */
}
.collection-h1,
.travel-h1,
.testimonial-h1 {
  padding-top: 3rem;
  font-size: 4rem;
  text-align: center;
  color: var(--blue);
}
.travel-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}
.travel-wrapper img {
  height: 400px;
  width: 100%;
}

.travel-wrapper h3 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-decoration: underline;
  font-size: 2rem;
  text-align: center;
  color: var(--blue);
}
.testimonials {
  background-color: #d6b695;
}
.testimonial-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.testimonial {
  text-align: center;
  padding: 0 5rem;
}
.testimonial h3 {
  font-size: 3rem;
  padding: 1rem;
}
.testimonial p {
  font-size: 1.5rem;
}

@media (max-width: 580px) {
  .homepage-header h1 {
    font-size: 2rem !important;
  }
}
@media (max-width: 912px) {
  .homepage-header h1 {
    font-size: 3rem;
    padding: 0 3rem;
    top: 70%;
  }
  .men-women {
    margin-top: 6rem;
  }

  section.men-women {
    display: flex;

    flex-direction: column-reverse;
    padding: 0 7rem;
    /* height: 100vh; */
    /* width: 100%; */
  }
  .hoodie-sweatshirts {
    display: flex;
    flex-direction: column-reverse;
  }
  .hoodie-sweatshirts .text {
    margin-left: 0rem;
    padding-bottom: 2rem;
  }
  .hoodie-sweatshirts .image {
    margin-right: -0rem;
  }
  .collection-h1,
  .travel-h1,
  .testimonial-h1 {
    font-size: 2rem;
  }
  .collection button {
    width: 70%;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    /* width: 90%; */
  }
  .travel-wrapper {
    flex-direction: column;
  }
  .testimonial:nth-child(2) {
    display: none;
  }
}

/* THEMET */
@media (max-width: 1190px) {
  .the-met h1 {
    font-size: 25rem;
  }
}
@media (max-width: 991px) {
  .the-met h1 {
    font-size: 23rem;
  }
}
@media (max-width: 915px) {
  .the-met h1 {
    font-size: 20rem;
  }
}
@media (max-width: 800px) {
  .the-met h1 {
    font-size: 17rem;
  }
  .product-container {
    width: 100%;
  }
  .product-container:nth-child(2) {
    display: none;
  }
  .product-container:nth-child(3) {
    display: none;
  }
  .product-container:nth-child(4) {
    display: none;
  }
  .testimonial:nth-child(2),
  .testimonial:nth-child(3) {
    display: none;
  }
}
@media (max-width: 690px) {
  .the-met h1 {
    font-size: 14rem;
  }
}
@media (max-width: 570px) {
  .the-met h1 {
    font-size: 12rem;
  }
}

@media (max-width: 490px) {
  .the-met h1 {
    font-size: 10rem;
  }
}

@media (max-width: 415px) {
  .the-met h1 {
    font-size: 7rem;
  }
}
